<table width="100%%" border="0" cellspacing="0" cellpadding="0" class="em_full_wrap" align="center">
    <tr>
    <td align="center" valign="top"><table align="center" width="650" border="0" cellspacing="0" cellpadding="0" class="em_main_table" style="width:650px; table-layout:fixed;">
        <tr>
            <td align="center" valign="top" style="padding:0 25px;" class="em_aside10"><table width="100%%" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td height="25" style="height:25px;" class="em_h20">&nbsp;</td>
            </tr>
            <tr>
            <td align="center" valign="top"><a href="{{.WebURL}}" target="_blank" style="text-decoration:none;"><img src="cid:kwikcms.png" width="200" height="54" alt="{{.PropertyTitle}}" border="0" style="display:block; font-family:Arial, sans-serif; font-size:18px; line-height:25px; text-align:center; color:#1d4685; font-weight:bold; max-width:200;" class="em_w150" /></a></td>
            </tr>
            <tr>
                <td height="28" style="height:28px;" class="em_h20">&nbsp;</td>
            </tr>
            </table>
            </td>
        </tr>
        </table>
    </td>
    </tr>
    </table>
    <table width="100%%" border="0" cellspacing="0" cellpadding="0" class="em_full_wrap" align="center">
    <tr>
        <td class="em_grey" align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 18px; line-height: 40px; color:#333333;">Hello {{.FirstName}}</td>
    </tr>
    <tr>
        <td class="em_grey" align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 18px; line-height: 40px; color:#333333;">Let’s reset your password and get you back to watching.</td>
    </tr>
    <tr>
        <td valign="top"><table width="200" style="width:200px; background-color:#9F26B5; border-radius:4px; margin-top:20px; margin-bottom:20px" border="0" cellspacing="0" cellpadding="0" align="left">
            <tr>
                <td class="em_white" height="42" align="center" valign="middle" style="font-family: Arial, sans-serif; font-size: 18px; color:#ffffff; height:50px;">
                    
                    <a href="{{.WebURL}}/reset-password" target="_blank" style="text-decoration:none; color:#ffffff; line-height:42px; display:block;">RESET PASSWORD</a>
                    
                </td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td class="em_grey" align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 18px; line-height: 40px; color:#333333;">If you didn’t request a password reset, please <a href="mailto:customerservice@kwikcms.com" style="color:#9F26B5;">contact us</a>.</td>
    </tr>
    <tr>
        <td class="em_grey" align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 18px; line-height: 40px; color:#333333;">We’re here to help if you need it. Visit our <a href="{{.WebURL}}/faq#contact" style="display:#9F26B5;">Help Center</a> for more information.</td>
    </tr>
    <tr>
    <td height="75" style="height:75px;" class="em_h20">&nbsp;</td>
    </tr>
    <tr>
        <td class="em_grey" align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 40px; color:#333333;">KwikCMS</td>
    </tr>
    <tr>
        <td class="em_grey" align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 50px; color:#333333;"><a href="{{.WebURL}}/faq#contact" style="color:#9F26B5;">Help Center</a> | <a href="{{.WebURL}}/faq" style="color:#9F26B5;">FAQ</a> | <a href="{{.WebURL}}/privacy-policy" style="color:#9F26B5;">Privacy Policy</a> | <a href="{{.WebURL}}/terms-and-conditions" style="color:#9F26B5;">Terms of Use</a></td>
    </tr>
    <tr>
        <td class="em_grey" align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 18px; color:#333333;">This message was mailed to {{.SubscriberEmail}} by KwikCMS because you requested an account password reset.</td>
    </tr>
</table>